.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.office-card {
  margin: 30px auto;
  width: 50%;
}

.textRed {
  color: red;
  font-weight: bold;
}

.textGreen {
  color: green;
  font-weight: bold;
}